[Unit]
Description=Startup Direct to Kiosk Mode systemd service.

[Service]
Type=simple
User=root
ExecStart=/bin/bash /home/startup.sh

[Install]
WantedBy=multi-user.target